header{
  display: flex;
  align-items:baseline;
  justify-content:space-between;
  padding: 20px 100px;
}

#menu{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#menu a{
  color: var(--slate-700);
  transition: .1s;
  padding-bottom: 0.3125rem;
}

#menu a:hover{
  color: var(--slate-500);
}


#logo img{
  width: 11rem;
}



#live{
  margin-left: 2px;
  border: red;
  border-radius: 5px;
  background-color: red;
  width: 8px;
  height: 8px;
  -webkit-animation: live 2s linear infinite;
   -moz-animation: live 2s linear infinite;
   -ms-animation: live 2s linear infinite;
   -o-animation: live 2s linear infinite;
   animation: live 2s linear infinite;
}

@keyframes live {
  0% { opacity: 0;}
  50% { opacity: .9;}
  100% { opacity: 0;}
}

@media (max-width: 768px){

}