.section-one {
  background-color: var(--blue-900);
  padding: 200px 300px;
}
.section-one ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  gap: 40px;
}

.section-one ul li h1 {
  margin-bottom: 30px;
  color: #fff;
  text-align: left;
  font-weight: 700;
  font-size: 60px;
}

.section-one ul li p {
  text-align: left;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}


.section-one ul li p span {
 color: #d7d2d2;
}

.title-section {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}
.title-section h2 {
  color: #323232;
  font-weight: 700;
  margin: 0;
}
.title-section button {
 border: none;
  border-bottom: 1px solid #323232;
  width: 600px;
}
.title-section p {
  margin: auto;
}

.section-three {
  background-image: url(/src/assets/sections/fundo.png);
  background-position: center;
  background-size: cover;
  background-image: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #f4f4f4;
  gap: 10px;
  margin-bottom: 100px;
}
.section-three h1 {
  font-weight: 700;
  font-size: 30px;
}
.section-three p {
  max-width: 1000px;
  text-align: center;
}

.section-three button {
  border-radius: 30px;
  padding: 10px 20px;
  background-color: #003554;
  border: none;
  color: #f4f4f4;
  font-size: 13px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: 0.3s;
  opacity: 0.9;
}

.section-three button:hover {
  transform: scale(1.03);
  opacity: 1;
}

.section-four {
  margin: auto;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-card {
  box-shadow: 0 4px 8px #0003;
  margin: 16px 30px 34px 0;
  width: 300px;
  border-radius: 4px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  background-color: var(--slate-100);
  min-height:400px ;
  gap: 10px;
  height: 600px;
  transition: .2s;
}

.section-card:hover {
  transform: scale(1.05);
}

.section-card img {
width:300px;
}

.section-card div{
  padding: 0 20px;
  
  color: var(--blue-700);
  
}

.section-card div h2{
 font-weight: 700;
font-size: 28px;
}

.section-card div h4{
  font-weight: 300;
  padding-left: 5px;
  
}

.section-card div p{
  margin-top: 30px;
  font-size: 16px;
  
  
}
.section-card .link-card{
  border-top: 1px solid #323232;
  margin: 9px;
  text-align: end;
  
}

.section-card .link-card a{
  font-size: 13px;
  margin-right: 10px;
  color: #323232;
  transition: .4s;
}

.section-card .link-card a:hover{
  color: #003554;
 border-bottom: 1px solid #003554;
}

.section-five{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 400px;
  gap: 100px;
  background-color: #d9d9d9;
}
.section-five img{
  width: 150px;
}

.section-five div{
  display: flex;
  align-items:flex-start;
  justify-content:center;
  flex-direction: column;
  gap: 3px;
  color: #323232;
}

.section-five div h1{
  font-size: 30px;
  font-weight: 700;
}

.section-five div button {
  background-color: #003554;
  color:#f4f4f4 ;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  
}

.section-five div button:hover {
  opacity: .9;
   background-color: #002338; 
   transition: all linear .3s;
}

@media (max-width: 1100px){



  .section-four{
    flex-direction: column;
    width: 100%;
  }
  .section-one{
    padding: 200px;
  }

  .section-one ul {
    flex-direction: column;
  }
  .section-one ul li img {
    width: 300px;
  }

.section-five{
  flex-direction: column;
  padding: 20px;
}

.section-two .content-section-two {
flex-direction: column;
}

.title-section button {
  width: 100px;
}

}