* {
  cursor: default;
}

#bg-body {
  background-color: AliceBlue;
}

.bg-div {
  background-color: AliceBlue;
}

.bg-top {
  background-image: linear-gradient(#002542, #003864);
}

#bg-footer {
  background-color: #000b14;
  background-image: linear-gradient(#131313, #000b14);
  padding: 20px;
}

.img-cards {
  max-width: 500px;
  max-height: 300px;
}

#map {
  border: #000b14;
  display: block;
  position: relative;
}

span {
  color: #003864;
}

#title {
  color: #003864;
  padding-top: 100px;
}

.visita {
  background-color: #003864;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.bg-card-hist {
  background-image: url();
  background-position: center;
}

.bg-card-hist2 {
  background-image: url(/src/assets/fundo-biblia.png);
  background-position: center center;
  background-size: 900px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.bg-card-hist3 {
  background-image: url();
  background-position: center 30%;
}

.imagem {
  background-image: linear-gradient(#10003f, #1d0075);
}
p {
  cursor: default;
}
.foco:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
  border: 0 none;
}
.logo {
  transition: 0.3s;
  cursor: pointer;
}
.logo:hover {
  transform: scale(1.05);
}

.filt {
  transition: 0.3s;
}
.filt:hover {
  transform: scale(1.05);
}
.calendar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 60px;
  border: 1px solid #002542;
  border-radius: 5px;
  padding: 20px;
}
.calendar div {
  color: #002542;
  font-family: "Open Sans", sans-serif;
}
.calendar div h2 {
  font-weight: 800;
  text-transform: uppercase;
}

.calendar div p {
  font-weight: 500;
}

.calendar iframe {
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  transition: 0.3s;
}
.calendar iframe:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
main h1.titu {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 100px;
  border-bottom: 1px solid #808080;
  width: 1000px;
  margin: auto;
  text-transform: uppercase;
  color: #002542;
  padding: 30px;
}
.botao {
  color: #fff;
  transition: .3s;
}
.botao:hover{
    color:#a2d2f6;
}
