* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Helvetica Neue, sans-serif;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: #fff;
}
a{
  text-decoration: none;

}
a:hover{
  cursor: pointer;
}

ul{
  list-style-type: none;
}







