
#bg-body {
    background-color: AliceBlue;
}


.bg-div {
    
    background-color: AliceBlue;
}

.bg-top {

   
    background-image: linear-gradient(#002542, #003864 );

}

.bg-section {

 
    background-image: linear-gradient(#2e0101, #3f0101 );

}

#bg-footer {
    background-color: #000b14;
    background-image: linear-gradient( #131313,#000b14 );
    padding: 20px;
}

.img-cards {
    max-width: 500px;
    max-height: 300px;

}

#map {
    border: #000b14;
    display: block;
    position: relative;
}

span {
    color: #003864;

}

#title {
    color: #003864;
    padding-top: 100px;
}

.visita {
    background-color: #003864;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 10px;

}

.bg-card-hist {
    background-image: url();
    background-position: center;
   

}

.bg-card-hist2 {
    background-image: url(/main/img/banner1.png);
    background-position: center center;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.bg-card-hist3 {
    background-image: url();
    background-position: center 30%;
    
}

.imagem {
    background-image:linear-gradient(#10003f,#1d0075);
}
 p{
    cursor:default;
 }
 .foco:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 0 none;

 }
